:host {
  display: block;
  height: var(--app-header-height);
  border-bottom: 1px solid #f6f9fe;
  color: var(--app-layout-bg-color);
}

.app-sider-logo {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}