<div class="module-selector">
  <button class="selector-trigger">
    <ng-icon name="tablerLayoutGrid" />
    <span>模块</span>
    <ng-icon name="tablerChevronDown" class="arrow-icon" />
  </button>
  <div class="dropdown-menu">
    <button class="menu-item">模块 1</button>
    <button class="menu-item">模块 2</button>
    <button class="menu-item">模块 3</button>
    <button class="menu-item">模块 4</button>
    <button class="menu-item">模块 5</button>
    <button class="menu-item">模块 6</button>
  </div>
</div>
