:host {
  display: block;
  height: var(--app-header-height);
}

.app-layout-header-inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-layout-header-text {
  font-weight: 600;
}
