:host {
  display: block;
  height: var(--app-header-height);
  overflow: visible;
}

.app-layout-header-inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: visible;
  position: relative;
  gap: 16px;
}

.spacer {
  flex: 1;
}

.app-layout-header-text {
  font-weight: 600;
}
