@if (hasChildren()) {
  <div
    class="app-sider-menu-group"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
  >
    <div
      #menuLink
      class="app-sider-menu-link"
      [title]="item().label"
      (click)="onClickExpand($event)"
    >
      @if (item().icon) {
        <span class="app-sider-menu-icon">{{ item().icon }}</span>
      }
      @if (!isCollapsed()) {
        <span class="app-sider-menu-label">{{ item().label }}</span>
        <span class="app-sider-menu-expand-icon" [class.expanded]="isExpanded()">
          <svg width="12" height="12" viewBox="0 0 12 12" fill="none">
            <path d="M3 4.5L6 7.5L9 4.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </span>
      }
    </div>
    @if (isExpanded() && level() < maxLevel() && !isCollapsed()) {
      <ul class="app-sider-menu-sublist" [class.app-sider-menu-sublist--level-1]="level() === 1" [class.app-sider-menu-sublist--level-2]="level() === 2">
        @for (childItem of item().children; track childItem.label) {
          <app-sider-menu-item
            [item]="childItem"
            [level]="level() + 1"
            [maxLevel]="maxLevel()"
            [expandedKeys]="expandedKeys()"
            [isCollapsed]="isCollapsed()"
            (toggleExpand)="toggleExpand.emit($event)"
            (menuSelect)="menuSelect.emit($event)"
          />
        }
      </ul>
    }
  </div>
} @else {
  <a
    class="app-sider-menu-link"
    [title]="item().label"
    [routerLink]="item().path"
    routerLinkActive="app-sider-menu-link--active"
    (click)="onClickMenuItem($event)"
  >
    @if (item().icon) {
      <span class="app-sider-menu-icon">{{ item().icon }}</span>
    }
    @if (!isCollapsed()) {
      <span class="app-sider-menu-label">{{ item().label }}</span>
    }
  </a>
}

@if (isCollapsed() && showPopup() && hasChildren()) {
  <div
    class="app-sider-menu-popup"
    [style.top.px]="popupPosition().top"
    [style.left.px]="popupPosition().left"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
  >
    <ul class="app-sider-menu-popup-list">
      @for (childItem of item().children; track childItem.label) {
        <li class="app-sider-menu-popup-item">
          @if (childItem.children) {
            <div class="app-sider-menu-popup-label">
              @if (childItem.icon) {
                <span class="app-sider-menu-popup-icon">{{ childItem.icon }}</span>
              }
              <span>{{ childItem.label }}</span>
            </div>
            <ul class="app-sider-menu-popup-sublist">
              @for (grandchildItem of childItem.children; track grandchildItem.label) {
                <li class="app-sider-menu-popup-subitem" (click)="onPopupItemClick(grandchildItem, $event)">
                  @if (grandchildItem.icon) {
                    <span class="app-sider-menu-popup-icon">{{ grandchildItem.icon }}</span>
                  }
                  <span>{{ grandchildItem.label }}</span>
                </li>
              }
            </ul>
          } @else {
            <div class="app-sider-menu-popup-item-link" (click)="onPopupItemClick(childItem, $event)">
              @if (childItem.icon) {
                <span class="app-sider-menu-popup-icon">{{ childItem.icon }}</span>
              }
              <span>{{ childItem.label }}</span>
            </div>
          }
        </li>
      }
    </ul>
  </div>
}
