:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-sider-header {
  height: var(--app-header-height);
  flex-shrink: 0;
}

.app-sider-content {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
}

.app-sider-footer {
  height: var(--app-footer-height);
  flex-shrink: 0;
}
