<div class="app-layout">
  <div class="app-layout-sider" [class.collapsed]="collapsed()">
    <app-sider />
  </div>
  <app-collapse-button
    [isCollapsed]="collapsed()"
    (toggle)="toggleCollapsed()"
    class="app-layout-collapse-button"
    [class.collapsed]="collapsed()"
  />
  <div class="app-layout-main">
    <div class="app-layout-header">
      <app-header />
    </div>
    <div class="app-layout-content">
      content
    </div>
    <div class="app-layout-footer">
      <app-footer />
    </div>
  </div>
</div>
