.app-layout {
  display: flex;
  min-height: 100vh;
  background-color: lightgray;
}

.app-layout-sider {
  width: 200px;
  overflow-y: auto;
}

.app-layout-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-layout-header {
  height: 48px;
}

.app-layout-content {
  flex: 1;
  padding: 12px;
}

.app-layout-footer {
  height: 48px;
}
