.app-layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--app-layout-bg-color);
}

.app-layout-sider {
  width: var(--app-sider-width);
  overflow-y: hidden;
  border-right: 1px solid var(--app-layout-border-color);
}

.app-layout-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-layout-header {
  height: var(--app-header-height);
}

.app-layout-content {
  flex: 1;
  padding: var(--app-content-padding);
}

.app-layout-footer {
  height: var(--app-footer-height);
}
