<ul class="menu-list">
  @for (item of menuItems(); track item.path) {
    <li class="menu-item">
      <a
        class="menu-link"
        [routerLink]="item.path"
        routerLinkActive="menu-link--active"
        (click)="menuSelect.emit(item)"
      >
        @if (item.icon) {
          <span class="menu-icon">{{ item.icon }}</span>
        }
        <span class="menu-label">{{ item.label }}</span>
        @if (item.badge) {
          <span class="menu-badge">{{ item.badge }}</span>
        }
      </a>
    </li>
  }
</ul>
